@import "src/assets/styles/map";

.MainLayout {
  display: grid;
  padding: map-get($gaps, "panel");
  gap: map-get($gaps, "panel");
  grid-template-columns: auto 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "left-sidebar main-view right-sidebar"
    "now-playing-bar now-playing-bar now-playing-bar";
}

main {
  background: white;
  grid-area: main-view;
}
