@font-face {
    font-family: 'Garet';
    src: url('../fonts/garet/Garet-Book.otf') format('woff2'),
         url('../fonts/garet/Garet-Book.ttf') format('woff');
    font-weight: normal;
    font-style: normal;
}